test/
Darwin/.config/coc
Darwin/.config/containers
Darwin/.config/ddtool
Darwin/.config/gcloud
Darwin/.config/op
Darwin/.config/nvim/plugged
Darwin/.config/raycast
Darwin/.config/gh
Darwin/.config/flipperdevices.com
Darwin/.config/nvim
